<h2 mat-dialog-title>Caso N° 123545</h2>
<mat-dialog-content class="mat-typography">
  <p>Origen: Barranquilla</p>
  <p>Destino: Cartagena</p>
  <p>Placa: XAS124</p>
  <p>Telefono: +57 123456789</p>
  <p>Correo: elmondoles@gmail.com</p>

  <h3>Timpos de Gestion</h3>
  <p>Hora de inicio: 13:00</p>
  <p>Tiempo de ejecucion: 0d 6h 14m 10s</p>
  <p>Estado del caso: En proceso</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Volver</button>
  <button mat-button [mat-dialog-close]="true">Cerrar caso</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Aceptar</button>
</mat-dialog-actions>
