/* You can add global styles to this file, and also import other style files */
* {
  font-size: 12px;
}
html, body { height: 100%; }
body { font-family: serif; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// ========== Container grid ====== //
.grid-container {
  width: 100%;
  max-width: 1000px;
  min-height: 100vh;
  margin: auto;
  // background-color: rgb(230, 230, 230);

    /*
    mat-card {
      display: flex;
      flex-direction: column;

      // height: 95%;
      // padding: 1px;
      // margin: 0;
      mat-card-content{
        flex: 1;
        padding: 0;
        // background-color: chartreuse;
        margin-bottom: 5px;
      }
      // mat-card-content {
      //   // background-color: aqua;
      // }
      mat-card-actions {
        bottom: 100px;
        // background-color: rgb(218, 218, 218);
        display: flex;
        padding: 0;
        margin: 0;
        align-items: flex-end;
        justify-self: flex-end;
      }
    }
    */

}

.example-spacer {
  flex: 1 1 auto;
}

