<div class="contenedor-grid" >
  <div class="item">
      <img src="./../../../../assets/img/estadistica.jpg" alt="Banner">
  </div>
  <div class="item" *ngFor="let item of collectionCards; index as i;">
      <mat-card class="mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title>{{item.titulo}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <!-- <h5>{{item.dato}}</h5> -->
          <div class="dato" >
            {{ item.dato }}
            <!-- Aplicar Densidad a los componentes -->
          </div>
          <!-- <button mat-button >Action</button> -->
        </mat-card-content>
      </mat-card>
  </div>
</div>

<!-- <div style="background-color: chartreuse; height: 200px; white-space: nowrap; overflow-y: hidden; overflow-x: auto; margin: auto; padding: 0;">
  <mat-card style="width: 100px; display: inline-block; height: 100%; padding: 0;">Card basica</mat-card>
  <mat-card style="width: 100px; display: inline-block; height: 100%; padding: 0;">Card basica</mat-card>
</div> -->

<div class="scroll-lateral" >
  <mat-card *ngFor="let item of collectionCardsHorizontalScroll" >Card basica</mat-card>
</div>
