<mat-grid-list [cols]="columns" rowHeight="100px"  >
<mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'#EA80FC'" >
  <mat-grid-tile-header>Header</mat-grid-tile-header>

  <mat-grid-tile-footer>Footer</mat-grid-tile-footer>
</mat-grid-tile>
<mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'#F8BBD0'">12</mat-grid-tile>
<mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'#FFEBEE'">13</mat-grid-tile>
<mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'#BBDEFB'">14</mat-grid-tile>

<mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'#BBDEFB'">14</mat-grid-tile>
<mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'#FFEBEE'">13</mat-grid-tile>
<mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'#F8BBD0'">12</mat-grid-tile>
<mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'#EA80FC'" >11</mat-grid-tile>
</mat-grid-list>

