.grid-css {
  display: grid;
  grid-template-columns: 1fr;
  // gap: 5px;
  max-width: 1000px;
  margin: auto;

    .item {
      .sub-grid {
        .sub-i {
          mat-card {
            img { height: 100px; }
            min-height: auto;
            margin-bottom: 5px;

            mat-card-content {
              mat-accordion {
                mat-expansion-panel {
                  box-shadow: none;
                  // background-color: rgb(220, 255, 192);

                  mat-expansion-panel-header {
                    // background-color: rgb(250, 99, 200);
                    padding: 0 8px;
                  }

                  ::ng-deep .mat-expansion-panel-content {
                    .mat-expansion-panel-body {
                      padding: 0 10px 5px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

  @media screen and (min-width: 576px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;

    .item {
      .sub-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2px;

        .sub-i {
          mat-card {
            mat-card-content {
              mat-accordion {
                mat-expansion-panel {

                  ::ng-deep .mat-expansion-panel-content {
                    .mat-expansion-panel-body {
                      padding: 0;
                    }
                  }

                  .contenido-card {
                    height: 60px;
                    overflow-y: auto;
                  }

                  .contenido-card::-webkit-scrollbar {
                    -webkit-appearance: none;
                  }

                  .contenido-card::-webkit-scrollbar:horizontal {
                    -width:2px;
                  }
                  .contenido-card::-webkit-scrollbar:vertical {
                    -width:5px;
                  }

                  .contenido-card::-webkit-scrollbar-thumb {
                    background-color: #7979798d;
                    border-radius: 10px;
                    border: 2px solid #f1f2f3;
                }
                }
              }
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: 795px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
    // background-color: rgb(255, 0, 212);
    .item {
      .sub-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2px;

        .sub-i {
          mat-card {
            mat-card-content {
              mat-accordion {
                mat-expansion-panel {

                  ::ng-deep .mat-expansion-panel-content {
                    .mat-expansion-panel-body {
                      padding: 0;
                    }
                  }

                  .contenido-card {
                    height: 50px;
                    overflow-y: auto;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

}
