
<div class="grilla" >
  <div class="columnas" >
    <div class="item" *ngFor="let item of lista1; index as i">
      <mat-card>                            <!-- Card -->
        <mat-card-content>                  <!-- Contenido Card -->
          <mat-accordion>                   <!-- Accorion -->
            <mat-expansion-panel>           <!-- Panel expandible -->
              <mat-expansion-panel-header>  <!-- Encabezado del panel expandible -->
                <mat-panel-title>
                {{item.titulo}}
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div class="contenido-card" > <!-- Contenido del panel expandible -->
                {{item.contenido}}
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="columnas" >
    <div class="item" *ngFor="let item of lista2; index as i">
      <mat-card>                            <!-- Card -->
        <mat-card-content>                  <!-- Contenido Card -->
          <mat-accordion>                   <!-- Accorion -->
            <mat-expansion-panel>           <!-- Panel expandible -->
              <mat-expansion-panel-header>  <!-- Encabezado del panel expandible -->
                <mat-panel-title>
                {{item.titulo}}
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div class="contenido-card" > <!-- Contenido del panel expandible -->
                {{item.contenido}}
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="columnas" >
    <div class="item" *ngFor="let item of lista3; index as i">
      <mat-card>                            <!-- Card -->
        <mat-card-content>                  <!-- Contenido Card -->
          <mat-accordion>                   <!-- Accorion -->
            <mat-expansion-panel>           <!-- Panel expandible -->
              <mat-expansion-panel-header>  <!-- Encabezado del panel expandible -->
                <mat-panel-title>
                {{item.titulo}}
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div class="contenido-card" > <!-- Contenido del panel expandible -->
                {{item.contenido}}
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
