<div class="grid-casos" >
  <div class="celda" >

    <!-- <mat-card class="mat-elevation-z6">
      <mat-card-content>
        <div class="foto" >
          foto
        </div>
        <div class="contenido" >
          <div>
            Nombre: Yesid Davila
          </div>
          <div>
            CI: 17756082
          </div>
          <div class="detalle">
            <button class="btn-circle"
                    mat-mini-fab
                    color="primary"
                    (click)="openDialog()" >
              <span class="material-icons">open_in_new</span>
            </button>
          </div>
          <div>
            Creado: 09/07/2020
          </div>
        </div>
        <div style="display: flex; justify-content: center; align-items: center; width: 100%;" *ngIf="false"  >No hay caso abierto</div>
      </mat-card-content>
    </mat-card> -->

    <mat-card class="mat-elevation-z5">
      <div class="header-card">
          <div class="content-header-card">
            <div class="titulo" >Camila Hernandez</div>
            <div class="sub-titulo" >Cargo: Conductor</div>
            <div class="sub-titulo2" >Origen: Barraquilla</div>
          </div>

          <button class="btn-circle" mat-mini-fab color="primary" (click)="openDialog()">
            <span class="material-icons" >more_vert</span>
          </button>
      </div>
      <mat-card-content>
        <!-- <mat-card-content style="font-size: 10px; padding: 0; margin: 0; background-color: rgb(80, 72, 187); "> -->
        <div class="contenido">
          camila@gmail.com / Telf emergencia: 300 1234567
        </div>

        <img src="./../../../../assets/img/mujer.jpg" alt="Foto perfil">
        <button class="btn1" mat-mini-fab matTooltip="Nuevo caso"
                (click)="openDialog()">
          <span class="material-icons" >add</span>
        </button>

        <!-- remove_red_eye -->
        <button class="btn2" mat-mini-fab matTooltip="Cerrar el caso" (click)="openDialog()">
          <span class="material-icons" >done</span>
        </button>

      </mat-card-content>

    </mat-card>
  </div>
</div>

<!-- Oculta el mensaje, mientras se cargan las listas de manera asincrona
<ng-container *ngIf="(listaTabs | async) === null">
  <!-- Cargando listas...
    <mat-spinner [diameter]="40" [strokeWidth]="3" mode="indeterminate"></mat-spinner>
</ng-container> -->

<div class="grid-contenido" >

  <div class="item item-1">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Caso</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div>N°: 123456</div>
        <div>Origen: </div>
        <div>Destino: </div>
        <div>Fecha Apertura: </div>
        <div>Hora inicio: </div>
        <div>Tiempo de gestion:</div>
        <div>Estado: </div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Vehiculo</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div>Placa: </div>
        <div>N° Trailer: 14AS56</div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Novedades</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div>(ver)</div>
      </mat-card-content>
    </mat-card>

  </div>

  <div class="item item-2">
    <mat-tab-group>
      <!-- <mat-tab *ngFor="let tab of listaTabs | async">
        <ng-template mat-tab-label>{{tab.label}}</ng-template>
        {{tab.content}}
      </mat-tab> -->
      <mat-tab>
        <ng-template mat-tab-label>En Ruta</ng-template>
        <div class="container-tabla" >
          <table mat-table [dataSource]="dataSource">
            <!-- Columna y iteracion de los items -->
            <ng-container *ngFor="let columna of columnas;"  matColumnDef="{{columna.name}}">
              <th mat-header-cell *matHeaderCellDef> {{ columna.titulo }} </th>
              <td mat-cell *matCellDef="let item"> {{ item[columna.name] }} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>  <!-- Encabezado pegajoso -->
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>En Muelle</ng-template>
        <div class="container-tabla" >
          <table mat-table [dataSource]="dataSource">
            <!-- Columna y iteracion de los items -->
            <ng-container *ngFor="let columna of columnas;"  matColumnDef="{{columna.name}}">
              <th mat-header-cell *matHeaderCellDef> {{ columna.titulo }} </th>
              <td mat-cell *matCellDef="let item"> {{ item[columna.name] }} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>  <!-- Encabezado pegajoso -->
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>En Taller</ng-template>
        <div class="container-tabla" >
          <table mat-table [dataSource]="dataSource">
            <!-- Columna y iteracion de los items -->
            <ng-container *ngFor="let columna of columnas;"  matColumnDef="{{columna.name}}">
              <th mat-header-cell *matHeaderCellDef> {{ columna.titulo }} </th>
              <td mat-cell *matCellDef="let item"> {{ item[columna.name] }} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>  <!-- Encabezado pegajoso -->
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </mat-tab>
    </mat-tab-group>

    <!-- <div class="menu-horizontal" >
      <mat-card>
        Contenido de menu horizontal
      </mat-card>
    </div> -->
  </div>

</div>

