.gridCss {
  --columns: 1;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 1rem;  // 12 pixeles;

  .masonry-brick {
    // background-color: #4684f8;
    margin-bottom: 1rem;

    mat-card {
      mat-card-content {
        mat-accordion {

          mat-expansion-panel {
            box-shadow: none;
            ::ng-deep .mat-expansion-panel-content {
              .mat-expansion-panel-body {
                padding: 0;
              }
            }

            .contenido-card {
              height: 80px;
              overflow-y: auto;
            }

          }
        }
      }
    }
  }

  @for $i from 1 to 7 {
    &.columns-#{$i} {
      --columns: #{$i};
    }
  }
}

